@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    min-height: 100%;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;;
    font-weight: bold;
}
body, a:hover {
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), progress !important;
}

/* ==========================================================================
   Titles
   ========================================================================== */

.p1 {
    font-family: monospace;
    font-size: 16px;
    line-height: 28px;
}

.p2 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.p3 {
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 28px;
}

.p4 {
    font-family: "Verdana", "Geneva", sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.p5 {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 18px;
}

.p6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}

.p6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}

.p7 {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}

.p8 {
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 22px;
    line-height: 32px;
}


/* ==========================================================================
   Header
   ========================================================================== */

.h1 {
    font-family: monospace;
    font-size: 42px;
}

.h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 32px;
}

.h3 {
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 62px;
    text-transform: uppercase;
}

.h4 {
    font-family: "Verdana", "Geneva", sans-serif;
    font-size: 72px;
    text-transform: uppercase;
}

.h5 {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 52px;
}

.h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 62px;
    font-weight: bold;
}

.h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 44px;
    font-weight: bold;
}

.h7 {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 62px;
    font-weight: bold;
}

.h8 {
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 86px;
}


/* ==========================================================================
   Paragraph
   ========================================================================== */



#container {
    display: flex;
/*    min-height: 100vh;*/
}

.sidebar {
    display: flex;
    position: relative;
    flex-flow: column; 
    width: 20em;
    min-height: 100vh;
    margin-left: 0;
    background-color: #F9F562;
    box-sizing: border-box;
    
    transition: margin-left 0.5s ease;
}
.sidebar.closed{
    margin-left: -18.5em;
}
.hamburgy{
    position: absolute;
    right: -15px;
    top: -25px;
    width: 25px;
    height: 20px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    z-index: 9999999;
    transition: top, .5s ease;
    cursor: pointer;
}
.hamburgy:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    border-top: 4px solid black;
}

.hamburgy.closed{
    top: 15px;
}
#sidebarlogo{
    height: 100px;
    background:repeating-linear-gradient(-60deg,yellow ,yellow 1em ,transparent 1em,transparent 1.5em );
    background-size: 6.9em 100%;
    animation: caution 2s linear infinite;
    font-size: 2.5em;
    line-height: .9em;
    font-weight: 900;
}
#sidebarlogo:hover{
    background:repeating-linear-gradient(-60deg, , 1em ,transparent 1em,transparent 1.5em );
}

h3{
    font-size: 12px;
    color: #3251A2;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 10px;
}

.window {
    flex: 1 100%;
    width: calc(100vw - 20em);
    display: flex;
    position: relative;
    flex-direction: column;
}

.window-content{
    flex: 1;
    display: flex;

    overflow-y: auto;
    height: 100vh;
}

.outer {
    min-height: -webkit-min-content;
    display: flex;
    flex: 1;
}

/* GRID SHIT */

.inner{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}
.inner-child{
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 10px;
}

/* YOU WERE WORKING ON GETTING THE WRAP STUFF TO WORK */

.inner-child-top {
  align-self: flex-start;
}
.inner-child-bottom {
  align-self: flex-end;
}
.inner-child-center {
  align-self: center;
}

/* END GRID SHIT */

.buttongroup{
    
}

.buttongroup button {
    padding: 10px;
    border: 2px solid black;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    min-width: 175px;
}
.buttongroup button:hover {
    background-color: orange;
}

.blue {
    background-color: blue;
}

#div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: red;
}

#div2 {
    position: absolute;
    top: 100;
    left: 100;
    width: 300px;
    height: 300px;
    background-color: blue;
}

textarea {
    width: 100%;
    height: 400px;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.menubutton{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    z-index: 999;
    border: 1px solid;
}

/* ==========================================================================
   Editor
   ========================================================================== */

.editorOverlay{
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100vh;
    left: 0; top: 0; right: 0;
    background-color: #DDD;
    transition: top .5s ease;
    overflow-y: auto;
    
}
.editorOverlay.closed{
    top: -100vh;
}

.editorOverlay h2{
    font-size: 140px;
    line-height: 105px;
    margin: 0;
    font-weight: bolder;
    background:repeating-linear-gradient(-60deg,yellow ,yellow 1em ,transparent 1em,transparent 1.5em );
    background-size: 6.9em 100%;
    animation: caution 10s linear infinite;
    padding: 0 10%;
}

.editableContainer {
    font-weight: 100;
    
    flex: 1;
    background-color: white;
    margin: 20px 10%;
}
.editable {
    font-family: monospace;
    margin: 0 70px;
}

.editable h1 {
    position: relative;
    font-size: 36px;
    
}
.editable h1:after{
    position: absolute;
    content: 'HEADING';
    font-size: 12px;
    font-weight: 900;
    color: #CCC;
    top: -20px;
    left: 0;
}

.editable p {
    position: relative;
    font-size: 20px;
    line-height: 24px;
}

.editable p:after{
     position: absolute;
    content: 'PARAGRAPH';
    font-size: 12px;
    font-weight: 900;
    color: #CCC;
    top: -18px;
    left: 0;
}



/* ==========================================================================
   Hovers
   ========================================================================== */
.regular:hover{
    color:blue;
}
.biggerize{
    display: inline-block;
    transition: transform 0.25s ease-in-out;
    transform: scale(1);
}
.biggerize:hover{
    transform: scale(1.25);
}
.skewize{
    display: inline-block;
    transition: transform 0.25s ease-in-out;
    transform: skew(0,0);
}
.skewize:hover{
    transform: skew(20deg,0);
}
.dropshadowize{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 6px #000;
    transition: text-shadow 0.25s ease-in-out;
}
.dropshadowize:hover{
    text-shadow: 5px 5px 8px #000;
}
.underline{
    text-decoration: underline;
}
.underline:hover{
    font-weight: bold;
}

/* https://codepen.io/beben-koben/pen/gfuvc */

.rainbow:hover {
animation:rainbow .2s infinite;
}
.background-rainbow:hover {
animation:background-rainbow .2s infinite;
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes background-rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}

/*https://codepen.io/EdenSG/pen/jPENoE*/

.strikethrough {
    display: inline-block;
    position: relative;
    color: black;
}

.strikethrough:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -0.7em;
    background: black;
    transform-origin: center left;
    animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}


/* Little hover effect */

.strikethrough:hover:after {
    transform: scaleX(0);
    transform-origin: center right;
}


/* Keyframes for initial animation */

@keyframes strikethrough {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* ==========================================================================
   Checkboxes
   ========================================================================== */

.control-group {
    flex: 1 100%;
    padding: 20px;
}
.inner-control-group{
    
}


.control {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 8px;
    border-top: 1px solid black;
    cursor: pointer;
    font-size: 14px;
}
.control:first-of-type {
    border-top: 0px;
}

/*
    .control:last- {
      border-bottom: 1px solid black;
    }
*/

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 20px;
    width: 20px;
    border: 4px solid;
    transition: background .25s ease;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: goldenrod;
}

.control input:checked ~ .control__indicator {
    background: darkorange;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: red;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 4px;
    top: -4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0px 4px 4px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: red;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}

/* ==========================================================================
   Range slider
   ========================================================================== */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: yellow;
  border: 0.1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  border: 2px solid #000000;
  height: 28px;
  width: 22px;
  background: #ffff00;
  cursor: pointer;
  -webkit-appearance: none;
    margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: orange;
}
.rangeDiv{
    
}

@keyframes caution{
    0%{background-position:0 0}
    100%{background-position:6.9em 0}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
/*
    .inner-child{
        flex: 1 !important;
    }
*/
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}